
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, sans-serif;
}

.loader-container {
    position: relative;
}

.loader {
    display: flex;
    font-size: 2rem;
    color: white;
    position: relative;
}

span {
    animation: blur 4s infinite;
  margin:0.7rem;
}

@keyframes blur {
    0% {
        filter: blur(0);
    }
    25% {
        filter: blur(1px);
    }
    50% {
        filter: blur(5px);
    }
    75% {
        filter: blur(1px);
    }
    100% {
        filter: blur(0);
    }
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.4s;
}

.loader span:nth-child(3) {
    animation-delay: 0.8s;
}

.loader span:nth-child(4) {
    animation-delay: 1s;
}

.loader span:nth-child(5) {
    animation-delay: 1.4s;
}

.loader span:nth-child(6) {
    animation-delay: 1.8s;
}
.loader span:nth-child(7) {
    animation-delay: 2.2s;
}
